
* {
margin: 0px;
padding: 0px;
}

@font-face { 
     font-family: Karla;
     src: url('fonts/Karla-Regular.ttf');}

@font-face {
    font-family: Pacifico;
    src: url('fonts/Pacifico.ttf');
}

/*header with logo and menu*/
.header {
    background-color: black;
    clear: both;
    overflow: auto;
}
#logo {
    float:left;
    margin-left:20px;
    margin-top: 5px;

}

#menu ul li {
    font-family: Karla;
    font-size: 16px;
    display:block;
    margin:10px;
    float:right;
}
#menu a {
    text-align: center;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
#menu a:hover {
    color: #b64036;

}

/*Sign me up section */

button {
    background-color: #e2574c;
    color:white;
    font-family:Karla;
    font-size:16px;
    padding:10px;
    border-radius: 20px;
    border:none;
    margin-top:50px;
    margin-bottom:40px;
    
}
button:hover {
    color:#b64036;
    background-color:white;
}

.signup {
    text-align: center;
    color:white;
    font-size: 16px;
    padding-top: 80px;
    padding-bottom: 100px;
    background-image: url('images/kayak-bkgd.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size:100%,500px;}

#gradient {
    display:inline-block;
    padding:5px;
    background-color: black;
    opacity:0.6;
   }

/*content sections*/

.gallery {
    padding-left:20px;
    padding-right:15px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;}
.gallery img {
    max-width:400px;
    max-height:300px;
    padding:5px;
    width: auto;
    height:auto;
}

.heading {
    text-align:center;
    font-family:Pacifico;
    font-size:250%;
    color:#646464;
    margin:80px;
}
.middle {
    text-align: center;
    font-size:16px;
    font-family:Karla;
    margin-bottom:80px;
    width:700px;
    padding-left:300px;
    line-height:2;
}

.left p {margin: 20px;}

.left {
    text-align: left;
    font-size:16px;
    font-family:Karla;
    padding-left: 20px;
    width: 500px;
    line-height: 2;
}

.rentals {display: flex;
          justify-content: space-between;
          }

.table {display: table;
        font-family: Karla;
        text-align: center;
        border: 1px solid;}



.footer { display: flex;
          justify-content: space-between;
          font-family:Karla;
          line-height: 2;
          background-color: black;
          color:white;
          
        }
.info {padding-left: 5px;
       padding-top:20px;}

.info p {margin:20px;}

#address {color:grey;
          opacity:50%;}

.social ul {display: flex;
            flex-direction:column;
            padding-right: 100px;
            padding-top: 50px;
           }
.social ul a {text-decoration: none;
              color:white;}